html {
  font-size: 22px;
}

body {
  font-family: chanticleer, Serif;
  color: black;
  background-color: white;
}

@font-face {
  font-family: chanticleer;
  src: url("/fnt/chanticleer.otf");

  font-display: swap;
}

main {
  max-width: 800px;
  margin: 0 auto;
}

img {
  max-width: 100%;
}

a { color: #5b8499; }
p { text-align: justify; }
h1, h2 {
  margin-top: 0;
  margin-bottom: 10px
}

pre {
  border-radius: 10px;
  background-color: #f3f3f3f3;
  padding: 10px;
  overflow: scroll;
  font-size: 12px;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  margin-bottom: 10px;
}

.date {
  font-weight: bold;
}
